h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}


.timer-count {
    float: right;
}

.highscores {
    text-align: start;
}

.card {
    text-align: center;
}

.start-button {
    background-color: blueviolet;
    color: black;
    display: inline-block;
    font-size: 22px;
}

.choice {
    color: black;
    display: inline-block;
    font-size: 22px;
    line-height: 16px;
}
