h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}


.timer-count {
    float: right;
}

.highscores {
    text-align: start;
}

.card {
    text-align: center;
}

.start {
    background-color: blueviolet;
    color: black;
    display: inline-block;
    font-size: 22px;
}

.choice {
    color: black;
    display: inline-block;
    font-size: 22px;
}

main {
    text-align: center;
    justify-content: center;
    font-size: 22px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: beige;
}